.backLink {
  margin-top: 25px;
  margin-left: 50px;
  display: flex;
  width: 200px;
  justify-content: flex-start;
  align-items: center;
  color: black;
  text-decoration: none;
}

.backText {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
}
.container {
  margin-top: 25px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.6);
}
.coinName {
  display: flex;
  align-items: center;
  gap: 10px;
}
.coinSymbol {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}
.favoriteButton {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.subInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.priceText {
  font-size: 22px;
}
.coinPrice {
  font-size: 22px;
}
.descGraphContainer {
  gap: 25px;
  display: flex;

  justify-content: space-between;
}
.description {
  text-align: left;
  font-size: 18px;
  flex: 1 1 0px;
}
.graph {
  flex: 1 1 0px;
}

@media (max-width: 768px) {
  .descGraphContainer {
    flex-wrap: wrap;
  }
  .backLink {
    margin-left: 0;
  }
}
