body {
  font-family: "Archivo Narrow", sans-serif !important;
}
.coinName {
  display: flex;
  align-items: center;
}
.coinImg {
  margin-right: 10px;
}
.supplySymbol {
  margin-left: 5px;
  text-transform: uppercase;
}
.nameSymbol {
  margin-left: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: #808a9d;
}
.increase {
  color: #16c784;
  font-weight: bold;
}
.decrease {
  color: #ea3943;
  font-weight: bold;
}
.exchangeLink {
  text-decoration: none;
  color: black;
}
a,
b,
span {
  font-family: "Archivo Narrow", sans-serif !important;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}
