@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}
.leftDiv {
  display: flex;
}
.left {
  position: relative;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 28vw;
}

.logo {
  font-family: "Archivo Narrow", sans-serif;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 26px;
  transition: all 1s;
  text-decoration: none;
  color: black;
  padding-right: 20px;
}
.logoImg {
  margin-right: 10px;
}
.logo:hover {
  opacity: 0.9;
  color: #00aef0;
}
.rightDiv {
  display: flex;
}
.right {
  display: flex;
  width: 15vw;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.link {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: black;
}
.link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #00aef0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.toggle {
  margin-right: 25px;
  display: flex;

  align-items: center;
}

@media (max-width: 575.98px) {
  .link {
    display: none;
  }
  .left {
    width: 50vw;
  }
}

/* @media (max-width: 767.98px) {
  .left {
    width: 50vw;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
  }
  .link {
    margin-right: 10px;
  }
} */

@media only screen and (min-device-width: 767.98px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
  }
  .link {
    margin-right: 10px;
  }
  .left {
    width: 60vw;
  }
}
